@import url("customstyles.css");

.summary:before {
    content: "摘要: ";
}

div#toc >ul::before {
    content: "内容题干";
    font-weight: 500;
    color: #555;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    width:70px;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:10px;
}
 